* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: black;
    color: rgb(231, 196, 130);
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::selection{
  background: rgb(0,123,255,0.3);
  }

  .container {
      background-image: url(../image/emblem-rework.jpeg );
      width: 100%;
      display: flex;
      height: 100vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .container .title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 40px 70px;
    align-items: center;
    color: rgb(255, 255, 255);
    color: lightgoldenrodyellow;
    text-shadow:-3px 6px 2px #000, 1px 1px 30px rgb(19, 14, 14), 1px 1px 40px rgb(27, 24, 224), 1px 1px 50px rgb(5, 1, 255);
  }


  .container .title h2 {
    font-size: 50px;
    padding: 20px 0;
  }

  section#emblems .emblems-det .emb .emb-head {
      font-size: 30px;
      padding: 15px 0;
  }

  section#emblems .emblems-det .emb .emb-details p {
    
  }

@media screen and (min-width: 720px){
     section#emblems .emblems-det {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 20px;
        padding: 30px;
  }

  section#emblems .emblems-det .img{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

}
 














































  nav.navbar .content .logo a img.ML {
    width: 150px;
    padding: 10px 20px;
  }
  
  .content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
  }
  
  .navbar{
    position: fixed;
    margin: 0 auto;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    display: block;
    transition: all 0.5s ease;
  }
  
  .navbar.sticky{
    padding: 10px 0;
    background: #1b1b1b;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
  
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .navbar .menu-list{
    display: inline-flex;
  }
  
  .menu-list li{
    list-style: none;
  }
  
  .menu-list li a, .menu-list li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    padding: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .content ul.menu-list li label {
    display: none;
  }
  
  
  .menu-list li a:hover, 
  .menu-list li label:hover{
    color: #007bff;
    text-shadow: 0 0 20px #fff, 0 0 30px #4d59ff, 0 0 40px #744dff, 0 0 50px #744dff, 0 0 60px #4d59ff, 0 0 70px #4d68ff, 0 0 80px #4d94ff;
  }
  
  .icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  
  
  .icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .navbar.sticky .icon.cancel-btn{
    top: 10px;
  }
  
  .navbar .content ul.menu-list li input[type="checkbox"]{
    display: none;
  }
  
  .content ul.menu-list ul{
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  
  .content ul.menu-list li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
  }
  
  
  .content ul.menu-list ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
  
  .content ul.menu-list ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  
  .content .ul.menu-list ul li{
    position: relative;
  }
  
  .content ul.menu-list ul li:hover ul{
    top: 0;
  }
  
  



  
@media (max-width: 868px) {
    .content ul.menu-list li a.desktop-link {
      display: none;
  }
  
  .content ul.menu-list.active li #show-items:checked ~ ul {
    max-height: 100vh;
  }
  
  .content ul.menu-list li label {
    line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
  }
  
    body.disabledScroll{
      overflow: hidden;
    }
    .icon{
      display: block;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      z-index: 9;
    }
    .icon.cancel-btn{
      display: none;
    }
    .icon.cancel-btn.show{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background: #222;
      display: block;
      padding: 40px 0;
      text-align: center;
      clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
      transition: all 0.3s ease;
    }
    .navbar.sticky .menu-list{
      clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }
    .navbar .menu-list.active{
      clip-path: circle(75%);
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
    }
    
    .content ul.menu-list ul,
    .content ul.menu-list ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
  
    #home {
      padding-top: 10rem;
    }
  
  
  #links .card .overlay {
    padding: 10px;
  }
  }

  

    @media (max-width: 380px) {
        .navbar .logo a{
          font-size: 27px;
        }
        }




        @media screen and (max-width: 1250px){

            nav{
              max-width: 100%;
              padding: 0 20px;
            }
          
            nav .content .ul.menu-list{
              margin-left: 30px;
            }
          
          
            .content ul.menu-list li a{
              padding: 8px 13px;
            }
          }
    
    



#emblems .emblems-det .img img {
    width: 100%;
}
          

@media screen and (max-width: 500px) {
    .container .title h2 {
        font-size: 30px;
    }
}